{% extends 'baseSeller.html' %}

{% block content %}

<div class="container mt-4">
    
    <div class="p-3 m-3">
        <h3 class="alert alert-success rounded-pill" style="text-align:center">Balance: Rs {{balance}}</h3><br>
        <form action="/sellerMenu" method="POST">

            {% csrf_token %}
            
            <div class="text-center col">
            
                <button type="submit" class="btn btn-sm btn-success col-lg-12" style="height:35px; width:200px">Add New Item</button>

        </form>

        <div class="form-group">
        </div>
        <div class="form-group">
        </div>

        <p class="display-4 pl-2 ml-2">Your Products</p>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th>Sno.</th>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>In Stock</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                
                {% for item in inventory %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.category}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.quantity}}</td>
                    <td>
                        <form action="/delete" method="POST" class="btn-block">
                            {% csrf_token %}
                            <input hidden type="text" name='item' value='{{item.id}}'>
                            <input type="submit"
                                value="Delete">
                        </form>
                        <form action="/editProduct" method="POST" class="btn-block">
                            {% csrf_token %}
                            <input hidden type="text" name='item' value='{{item.id}}'>
                            <input type="submit"
                                value="Edit">
                        </form>
                    </td>
                </tr>

                {% endfor %}
               
            </tbody>

        </table>
       
    </div>
</div>

{% endblock %}